body {
	/*background-color: #F2F2F2;*/
	background-color: white;
}

#title {
	text-align: center;
	font-size: 80px;
	/*font-family: 'EB Garamond', serif;*/
	font-family: Helvetica;
}

#instructionContainer {
	text-align: center;
}

#happyface {
	background-color: white;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	/*text-align: center;*/

	font-size: 110px;

	width: 150px;
	height: 150px;

	margin-left: auto;
	margin-right: auto;

}

#eyes {
	margin-left: 75px;
	width: 30px;
	height: 70px;
	line-height: 70px;
	-webkit-transform: rotate(-270deg);
	-moz-transform: rotate(-270deg);
}

#mouth {
	margin-left: 10px;
	/*width: 5px;*/
	height: 140px;
	-webkit-transform: rotate(-270deg);
	-moz-transform: rotate(-270deg);
}

#mainContainer {
	margin-left: auto;
	margin-right: 0;

	width: 1200px;
	height: 340px;

	text-align: center;
}

#plotTitle {
	float: left;
	margin-left: 5em;
}

#plotContainer {
	background-color: white;
	border-radius: 5px;

	width:450px;
	height:290px;

	padding: 10px;

	float: left;
}

#plot {
	background-color: white;
	border-radius: 5px;

	width:450px;
	height:290px;
}

#tweets {
	background-color: white;
	border-radius: 5px;

	font-family: 'Oxygen', sans-serif;
	width:450px;
	height:300px;

	border-style: solid;

	overflow: auto;

	border-width: 1px;
	border-color: black;

	padding-top: 5px;
	padding-left: 5px;
	padding-right: 20px;

	/*float: left;
	position: relative;*/
}

.tweetText {
	float: left;
	width: 410px;
	margin-bottom: 30px;
}

#inputDescription {
	float: left;
	margin-right: 15px;
}

#tickerInput {
	float: left;
	margin-right: 15px;
}

.button {
	float: left;

	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: black;

	padding: 3px;

	cursor: hand;
	cursor: pointer;
}

.button:hover {
	background-color: black;
	color: white;
}

#submitButton {
	margin-right: 5px;
}

#searchContainer {
	width: 700px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

.green-triangle, .red-triangle, .black-box {
    display: block;
   	border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    float: left;
    margin-right: 5px;
}

.black-box {
	border-color: black black black black;
}

.green-triangle {
    border-color: white white green white;
}

.red-triangle {
    border-color: red white white white;
}

a:link {
	text-decoration: none;
}